@import 'nullstyle.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?r7ebeh') format('truetype'),
    url('../fonts/icons.woff?r7ebeh') format('woff'),
    url('../fonts/icons.svg?r7ebeh#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e900";
}
._icon-gp:before {
  content: "\e901";
}
._icon-pint:before {
  content: "\e902";
}
._icon-tw:before {
  content: "\e903";
}
._icon-wf:before {
  content: "\e904";
}

html {
  scroll-behavior: smooth;
}

body {
  color: #676770;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  &.lock {
    overflow: hidden;
  }
}

/* ↓ ibg ↓ */
.ibg {background-position: center;background-size: cover;background-repeat: no-repeat;position: relative;}
.ibg img {width: 0;height: 0;position: absolute;top: 0;left: 0;opacity: 0;visibility: hidden;}
/* ↑ ibg ↑ */

.wrapper  {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  padding: 60px 0 0 0;
  flex: 1 1 auto;
}

// ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 940;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// ПЕРЕМЕННЫЕ

// ОСНОВНАЯ СЕТКА
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}
// ОСНОВНАЯ СЕТКА

// ОБЩИЕ КЛАССЫ
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 45px;
  // white-space: nowrap;
  color: #fff;
  background: #69B9FF;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21 / 16 * 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover {
    background-color: #0073d8;
  }
  &:active {
    transform: scale(0.96)
  }

  &-trans {
    background-color: transparent;
    border: 1px solid #fff;

    &:hover {
      background-color: transparent;
      // color: #005aaa;
      border: 1px solid #0073d8;
    }
  }
}
.title {
  font-size: 30px;
  line-height: 36 / 30 * 100%;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;

  @media (max-width: $md3+px) {
    font-size: 26px;
  }
}
.subtitle {
  font-size: 17px;
  line-height: 20 / 17 * 100%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
  @media (max-width: $md3+px) {
    font-size: 16px;
  }
}
// ОБЩИЕ КЛАССЫ

// HEADER 
@import 'header.scss';
// HEADER 


// main-block
.main-block {

  &__image {
  }

  &__items {
    padding: 195px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $md4+px) {
      padding: 60px 0;
    }
  }

  &__title {
    margin: 0 0 100px 0;
    padding: 0 10px;
    font-size: 59px;
    line-height: 60 / 59 * 100%;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;

    @media (max-width: $md3+px) {
      font-size: 48px;
      margin: 0 0 70px 0;
    }
    @media (max-width: $md4+px) {
      font-size: 36px;
      margin: 0 0 50px 0;
    }
  }

  &__buttons {
    display: flex;

    @media (max-width: $md4+px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__btn {
    margin: 0 10px;

    @media (max-width: $md4+px) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}
// main-block

// do 
.do {
  padding: 80px 0;

  @media (max-width: $md3+px) {
    padding: 40px 0;
  }

  &__top {
    margin: 0 0 65px 0;

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    margin: 0 0 20px 0;

    @media (max-width: $md3+px) {
      margin: 0 0 10px 0;
    }
  }

  &__subtitle {
  }

  &__columns {
    margin: 0 -10px;
    display: flex;

    @media (max-width: $md3+px) {
      display: block;
    }
  }

  &__item {
    flex: 0 0 33.333%;
    padding: 0 10px;

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__column {
  }
}
.do-card {
  padding: 36px 16px 23px;
  background: #FFFFFF;
  border: 2px solid #DCEBF7;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media (max-width: $md1+px) {
    padding: 25px 10px 18px;
  }

  @media (max-width: $md3+px) {
    padding: 14px 8px;
  }

  &__icon {
    margin: 0 0 20px 0;
    width: 94px;
    height: 94px;
    overflow: hidden;

    img {
      width: 94px;
      height: 94px;
      display: block;
      width: 100%;
      object-fit: cover;
    }

    @media (max-width: $md3+px) {
      margin: 0 0 10px 0;
    }
  }

  &__title {
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 30 / 20 * 100%;
    letter-spacing: 7px;
    text-transform: uppercase;

    @media (max-width: $md2+px) {
      font-size: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 25 / 14 * 100%;
    color: #6A859C;
  }
}
// do 


// services
.services {
  padding: 80px 0;
  background: #192024;

  @media (max-width: $md3+px) {
    padding: 40px 0;
  }

  &__top {
    margin: 0 0 60px 0;

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    color: #fff;
    margin: 0 0 20px 0;
  }

  &__subtitle {
    color: #E8E8E8;
  }

  &__columns {
    display: flex;
    margin: 0 -10px;

    @media (max-width: $md3+px) {
      flex-direction: column;
    }
  }

  &__item {
    padding: 0 10px;
    flex: 0 0 50%;

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__column {
  }
}
.services-card {
  padding: 15px;
  color: #fff;
  background-color: #12191d;
  display: flex;
  flex-direction: column;
  // align-items: center;
  height: 100%;

  &__image {
    padding: 0 0 65% 0;
    margin: 0 0 20px 0;
  }

  &__title {
    color: inherit;
    margin: 0 0 25px 0;
    font-size: 20px;
    line-height: 30 / 20 * 100%;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
  }

  &__text {
    flex: 1 1 auto;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 25 / 14 * 100%;
    text-align: center;
  }

  &__btn {
    align-self: center;
  }
}
// services


// tab 
.tab {
  padding: 80px 0;
  
  @media (max-width: $md3+px) {
    padding: 40px 0;
  }

  &__top {
    margin: 0 0 60px 0;

    @media (max-width: $md3+px) {
      margin: 0 0 20px 0;
    }
  }

  &__title {
    margin: 0 0 20px 0;
  }

  &__subtitle {
  }

  &__tabs {
  }
}
// tab 


// slider 
@import 'slider.scss';
// slider 


// FOOTER 
@import 'footer.scss';
// FOOTER 